doctype html
html 
    head 
        meta(charset="utf-8")
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href="/update-cobj") Add to Table
        h1 Book Table
        if rows && rows.length
            table(border="1" cellpadding="6")
                thead
                    tr
                        th ID
                            each p in properties
                                th= p
                tbody
                    each row in rows
                        tr
                            td= row.id
                            each p in properties
                                td= row[p]
        else
            p No Records Found.
    