doctype html
html 
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= "Books"
        link(rel="stylesheet", href="/css/style.css")
    body
        header.site-header
            .container 
                h1.site-title Books 
                nav.header-actions
                    a.button.button--primary(href="/update-cobj") + Add New Book
        main.container
            if rows && rows.length
                .card 
                    .table-wrap
                    h2.visually-hidden Books Table
                    table.table
                        thead
                            tr 
                                th(scope="col") ID
                                th(scope="Name") Book Title
                                th(scope="Description") Book Description
                                th(scope="Author") Book Author
                        tbody
                            each row in rows    
                                tr
                                    td.mono= row.id
                                        each p in properties
                                            td= row[p] || '_'
            else
                .empty-state.card
                    h2 No Records Yet
                    p Add Your First Book to See it Listed here.
                    a.button.button--primary(href="/update-cobj") Add your first Book
        footer.site-footer
            .container
                small Integrating With HubSpot I Practicum