doctype html
html 
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= "Add Book"
        link(rel="stylesheet", href="/css/style.css")
    body 
        header.site-header
            .container
                h1.header-actions
                    a.button.button--ghost(href="/") Back to List
        main.container
            .card
                form.form(action="/update-cobj" method="post" novalidate)
                    .form-row
                        label.form-label(for="title") Book Title <span class="req">*</span>
                        input.form-input((type="text") id="book_title" name="book_title" required)
                        .help-text Enter Book Title Here.
                    .form-row
                        label.form-label(for="author") Book Author <span class="req">*</span>
                        input.form-input((type="text") id="book_author" name="book_author" required)
                    .form-row
                        label.form-label(for="description") Book Description <span class="req">*</span>
                        textarea.form-textarea(id="book_description" name="book_description" rows="4")
                    .form-actions
                        button.button--primary(type="submit") Save Book Info.
                        a.button.button--ghost(href="/") Cancel
        footer.site-footer
            .container
                small Integrating With HubSpot I Practicum